/*@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,100,300);*/
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans:600);

html body {
  background-color: #ffffff;
  font-family: 'Josefin Sans';
  color: #D06D35;
  width:100%;

}

.container {
    text-align: center;
    position: fixed;
  	top: 50%;
  	transform: translateY(-50%);
  	width: 100%;
    margin: 0 auto;
}

.img-circle {
    border-radius: 50%;
    width: 150px;
	  height: 150px;
    border: solid 3px #D06D35;
    overflow-y: auto;
}

.links {
  display: inline-block;
  width: 200px;
}



.links ul li {
  list-style-type: none;
  float: left;
}

.links ul li a i {
	width: 60px;
	height: 40px;
}

.button{
  color: #D06D35;
}


a:visited {
    color: #D06D35;
}

a:link{
  text-decoration:none;
}
