
 
 body {

   font-family: Helvetica;
   color: white;
 }

 nav ul li {
   margin: 0;
   paddin: 0;
   color: black;
   display: inline;
   float: right;
 }

a h1 p {
  color: black;
  font-size: 250%;
 }
 
h3 {
  color: black;
  font-size: 200%;
  }

  .active {
      background-color: grey;
      color: black;
  }

