body {
	background: white;
	font-family: helvetica;
}

header { 
background: orange;
color: white;
padding: 15px;
margin: 0;
}

nav ul {
dispaly:inline;
}

nav ul li {
	display: inline;
	color: white;
	padding: 15px;
}

 a h1 h4 p {
	color:white;
}





 