
html {
background-color: grey;
color: FFFFFF;
}

body {
  font-family: Helvetica;
}

header {
background: orange; 
padding: 15px;
margin: 0;
}

nav ul {
display:inline;
padding: 15px;
color: white;
}

nav ul li {
  display: inline;
  color: white;
}
 a h1 h4 p {
	color:FFFFFF;
}





 